<div>
  <button class="btn btn-primary float-end" style="margin-right: 1.5rem;">Create Campaign</button>
</div>
&nbsp;

<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign ID</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CAMPAIGN ID
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign Name</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CAMPAIGN NAME
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Descriptions</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                DESCRIPTION
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Category</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CATEGORY
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Tags</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                <div class="widget-26-job-category bg-soft-warning">
                  <i class="indicator bg-warning"></i>
                  <span>TAG</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Venue</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                VENUE
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Start Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                START DATE
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">End Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                END DATE
              </div>
            </div>
            <hr>
            &nbsp;
          </div>
          <div class="card-body">
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign ID</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CAMPAIGN ID
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign Name</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CAMPAIGN NAME
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Descriptions</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                DESCRIPTION
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Category</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                CATEGORY
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Tags</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                <div class="widget-26-job-category bg-soft-warning">
                  <i class="indicator bg-warning"></i>
                  <span>TAG</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Venue</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                VENUE
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Start Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                START DATE
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">End Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                END DATE
              </div>
            </div>
            <hr>
            &nbsp;
            <nav>
              <button class="btn btn-primary float-end">Edit
                Campaign</button>&nbsp;
            </nav><br>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>